.navigation{
    font-size: 20px;

    .navigation__home-title{
        color: $color-secondary;
        font-size: 30px;
    }

    .navigation__link{
        color: $color-white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    }

}

.main{
    text-align: center;

    .header {
        text-align: left;
        padding: 100px;


        &__secondary{
            color: $color-secondary;

        }
    }

    .section {
        background-color: $color-primary;
        
        &__header-box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        }

        &__oval {
            position: absolute;
            background-color: $color-primary;
            width: 350px;
            height: 115px;
            border-radius: 50%;
            background: radial-gradient(50% 50% at 50% 50%, $color-secondary 83.85%, rgba(0, 132, 163, 0) 100%);
        }

        &__header {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
            padding: 45px;
            z-index: 1;
        }

        &__subheader {
            color: $color-secondary;
          }

        .section--icon-link {
            padding: 20px;
            color: $color-secondary;
            font-size: 50px;
        }

        .section__project-header {
            font-size: 25px;
        }

        .section__project-images {
            width: 75px;
            height: 75px;
            @media screen and (min-width: 480px) {
                width: 150px;
                height: 150px;
            }
        }


        .section--email-link {
            color: $color-secondary;
            font-size: 30px;
        }

    }
}


