@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Reem Kufi", sans-serif;
  color: #ffffff;
  background-color: #0084A3;
}

.navigation--home-title:link {
  color: #FFBA00;
}
.navigation--link:link {
  color: #ffffff;
}

.main {
  text-align: center;
}
.main .header {
  text-align: left;
  padding: 100px;
}
.main .header__secondary {
  color: #FFBA00;
}
.main .section__subheader {
  color: #FFBA00;
}
.main .section--icon-link {
  color: #FFBA00;
}